<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Favicons -->
    <link rel="apple-touch-icon" src="/img/blockchain.png" sizes="180x180">
    <link rel="icon" src="/img/blockchain.png" sizes="32x32" type="image/png">
    <link rel="icon" src="/img/blockchain.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/safari-pinned-tab.svg"
        color="#563d7c">
    <link rel="icon" href="/img/blockchain.ico">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/offcanvas.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/offcanvas.js"></script>
    <title>RealEstateTransaction</title>
</head>

<body>
    <section id="nav"></section>
    <section id="nav_second"></section>

    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <img class="mr-3" src="/img/blockchain.png" alt="" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">RealEstateTransaction</h6>
                <small>@blockchain 기술로 이루어 내는 부동산 거래 시스템</small>
            </div>
        </div>
        <div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">암호화폐명</th>
                        <th scope="col">금일 시세</th>
                        <th scope="col">전일 시세</th>
                    </tr>
                </thead>
                <tbody id="coin_info">
                </tbody>
            </table>
        </div>

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">거래중</h6>
            <div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Seller</th>
                            <th scope="col">Contract Address</th>
                        </tr>
                    </thead>
                    <tbody id="trading">
                    </tbody>
                </table>
            </div>
            <small class="d-block text-right mt-3">
                <a href="#">All updates</a>
            </small>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">거래완료</h6>
            <div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Seller</th>
                            <th scope="col">Contract Address</th>
                        </tr>
                    </thead>
                    <tbody id="complete">
                    </tbody>
                </table>
            </div>
            <small class="d-block text-right mt-3">
                <a href="#">All updates</a>
            </small>
        </div>
        </div>
    </main>
    <input type="hidden" name="mb_id_session" value="<%=mb_id%>">
</body>
<script>
    $(() => {
        getCoinInfo('http://localhost:8080/coin/info')
        getSellerAndCA(0).then((list) => {
            setList(list,'trading');
        });
        getSellerAndCA(1).then((list) => {
            setList(list,'complete');
        });
    })

    function getSellerAndCA(status) {
        var url = 'http://localhost:8080/realestateExchange/realestate_list?status=' + status;
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url);
        xhr.send();
        return new Promise((resolve, reject) => {
            xhr.addEventListener('load', function () {
                var result = JSON.parse(xhr.responseText);
                resolve(result);
            })
        })
    }

    function setList(list,status) {
        list.data.forEach(element => {
            var url = 'http://localhost:8080/realestateExchange/title?contract_address=' + element.realestate_ca;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url);
            xhr.send();
            xhr.addEventListener('load', function () {
                var result = JSON.parse(xhr.responseText);
                var tbody = document.getElementById(status);
                var tr = document.createElement("tr");
                var td_1 = document.createElement("td");
                var td_2 = document.createElement("td");
                var td_3 = document.createElement("td");
                var a = document.createElement("a");
                a.href = '/realestateExchange/detail?contract_address=' + element.realestate_ca;

                //td_1.innerText = result.title;
                a.innerText = result.title;
                td_2.innerText = element.realestate_seller;
                td_3.innerText = element.realestate_ca;
                td_1.append(a);
                tr.append(td_1);
                tr.append(td_2);
                tr.append(td_3);
                tbody.append(tr);
            })

        });

    }

    function getCoinInfo(url) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url);
        xhr.send();

        xhr.addEventListener('load', function () {
            var result = JSON.parse(xhr.responseText);
            var tbody = document.getElementById('coin_info');
            result.forEach(element => {
                var tr = document.createElement("tr");
                var th = document.createElement("td");
                var td_1 = document.createElement("td");
                var td_2 = document.createElement("td");

                th.innerText = element.coin_name;
                td_1.innerText = element.coin_today_value;
                td_2.innerText = element.coin_yesterday_value;
                tr.append(th);
                tr.append(td_1);
                tr.append(td_2);
                tbody.append(tr);
            });
        })
    }
</script>
<script src="/js/nav.js"></script>
<script src="/js/nav_second.js"></script>

</html>